<div id="all_monsters">
    <table>
        <% counter = 0%>
        <% Monster.all.each do |m| %>
            <% if counter == 0 %>
            <tr>
            <%end%>

                <td>
                  <%=link_to(m) do%>
                      <div class="caption">
                        No. <%=m.id%><br/><br/><br/><% if m.name.length < 14%>
                            <br/>
                            <%elsif m.name.split[0].length < 5%>
                            <br/>
                            <%end%><%=m.name%>
                      </div>
                  <%end%>
                  <%=image_tag(m.icon.url)%>
                </td>
            <% if counter == 6%>
            <%counter = -1%>
            </tr>
            <%end%>
            <% counter+= 1%>
        <%end%>
    </table>
</div>