// Place all the styles related to the monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stats tr
{
  background-color:#D8D8D8;
}
.stats td
{
  background-color:#D8D8D8;
}
p
{
  align:center;
}
.stats table
{
  cellpading:10;
  cellspacing:1;
}
div.stats
{
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}

div#all_monsters
{
  width: 800px ;
  margin-left: auto ;
  margin-right: auto ;
}
div#search
{
  width: 800px ;
  margin-left: auto ;
  margin-right: auto ;
}
div#result
{
  width: 800px ;
  margin-left: auto ;
  margin-right: auto ;
}
tr td a{text-decoration: none; display:none; background:white; opacity:.9; position:absolute; color:white; background-color: dimgray;}